<div style="text-align: center">
  <h1>Devices</h1>
</div>
<div class="panel">
  <mat-form-field class="example-form-field">
    <mat-label>Comune</mat-label>
    <input matInput type="text" [(ngModel)]="queryComune" (change)="onSearch('comune.nome')" />
    <button
      mat-button
      *ngIf="queryComune"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="queryComune = ''; onSearch('comune.nome')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>MAC</mat-label>
    <input matInput type="text" [(ngModel)]="queryMAC" (change)="onSearch('macAddress')" />
    <button
      mat-button
      *ngIf="queryMAC"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="queryMAC = ''; onSearch('macAddress')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <treetable
    #treetable
    [options]="options"
    [tree]="devicesTree"
    (nodeClicked)="logToggledNode($event)"
    (rowClicked)="onRowClicked($event)"
  >
  </treetable>
</div>
